/* html {
    height: 100%;
    width: 100%;
    overflow: hidden;
}

body {
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif, Tahoma, Verdana, sans-serif;
    font-size: 12px;
    background: rgb(0,0,0);
    color: white;
}*/

#logo {
    padding: 15px;
    margin-left: 70px;
    border: none;
}

#controls {
    padding: 5px;
}

#controls td {
    /*text-align: right;*/
}

#controls td + td {
    text-align: left;
}
.ace_status-indicator {
    color: gray;
    position: absolute;
    right: 0;
    border-left: 1px solid;
}

.editor-menu {
    position: absolute; 
    top: 13px; 
    /*right: 20px;*/
    display:block; 
    /*width: 64px; */
    z-index:9;
    border-bottom: none;
/*overflow-y: scroll;*/
    /*overflow: hidden;    */
    left:-8px;
}

.toggle-button {
    display: block;
    height: 20px;
    width: 20px;
    border: 1px solid #e5e5e5;
    float: right;
}
.editor-menu .menu{
/*    height: 150px;
    width: 156px;
    border: 2px solid #aaa;*/
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;
    padding: 8px;
}

.editor-menu .menu label {
    font-size: 12px;
    text-shadow: 0 0 2px #aaa;
}

.editor-menu .menu select {
    padding: 0px 1px;
    font-size: 12px;
    width: 80px;
}

.toggle-button:hover{
    border: none;
    width: 190px;
    height: 100%;
    /*background: rgba(0, 0, 0, 0.4);*/
} 

.toggle-button .menu {
    opacity: 0
}

.toggle-button .table-wrapper {
    height: 0;
}
.toggle-button:hover .menu{
    opacity: 1;
}
.toggle-button:hover .table-wrapper {
    height: 100%;
}
.toggle-button:hover i {
    display: none;
}

#optionsPanel > div {
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;
    /*background: rgba(0, 0, 0, 0.4);*/
    padding: 8px 12px;
    color: #333;
}

.menu * {
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;    
}
.transition {
    -webkit-transition: all 0.27s ease;
    -moz-transition: all 0.27s ease;
    -ms-transition: all 0.27s ease;
    -o-transition: all 0.27s ease;
    transition: all 0.27s ease;
}

#folder-tree {
    height: 100%;
    overflow-y: auto;
    color: #ccc;
    margin-top: 10px;
    /*font-size: 16px;*/
}

.file-name {
    cursor: pointer;
}

.toggle-folder {
    font-size: 10px;
}

.name-info:hover{
    color: #EEE;
    cursor: pointer;
}

#editor-tabs {
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
    background: #000;
    /*margin-top: 12px;
    margin-bottom: 1px;
    border-bottom: 2px solid #555; */
}

#editor-tabs.filled {
    border-bottom: 4px solid #555;
}

#editor-tabs.occupied {
    margin-top: 12px;
    margin-bottom: 1px;
    border-bottom: 2px solid #555;    
}


#editor-tabs li {
    float: left;
    /*color: #FFF;*/
    margin: 0 4px 0 0;
    border: 1px solid white;
    border-bottom: none;
    
    border-color: #555;
    min-width: 100px;
    text-align: center;
    text-overflow: ellipsis;
    overflow: hidden;
    
    padding: 0 4px;

    box-shadow: 1px 1px 4px #333;
    line-height: 24px;
    background: #ddd;
   font-size: 12px;
}

#editor-tabs li.active {
    /*box-shadow: 1px 1px 4px #fff;*/
    background: #555;
    color: #fff;
}


#editor-tabs li span.close-tab{
    float: right;
    margin-left: 4px;
    font-weight: bold;
    cursor: pointer;
}

.area-top {
    background: #ECECEC;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#FAFAFA),color-stop(100%,#ECECEC));
    background-image: -webkit-linear-gradient(top,#FAFAFA,#ECECEC);
    background-image: -moz-linear-gradient(top,#FAFAFA,#ECECEC);
    background-image: -o-linear-gradient(top,#FAFAFA,#ECECEC);
    background-image: linear-gradient(top,#FAFAFA,#ECECEC);
    -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 2px 1px -1px rgba(0,0,0,0.07);
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid #CCC;
}

.area-top > #settings {
    color: black;
    font-weight: bold;
    margin-left: 1px;
    padding: 2px 24px;
    border: 1px solid #e5e5e5;
}



