!!! 5
html(lang='en', xmlns='http://www.w3.org/1999/xhtml', xmlns:fb='https://www.facebook.com/2008/fbml', itemscope='itemscope', itemtype='http://schema.org/Product')
  include ../includes/head
  body
    .area-top(style="width:100%; height: 20px;")
        span#settings Settings
    .wrapper(style='height: 100%;')
      .containe(style='height: 100%;')
        .main-conten(style='height: 100%;')
          .main-head
            block main
          block content
      .push
    include ../includes/footer
    include ../includes/foot
